
.hero-section {
  position: relative;
  z-index: 11;
}

.hero-section .hero-content {
  padding-top: 380px;
  padding-bottom: 280px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-section .hero-content {
    padding-top: 250px;
    padding-bottom: 160px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-section .hero-content {
    padding-top: 220px;
    padding-bottom: 130px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-section .hero-content {
    padding-top: 220px;
    padding-bottom: 130px;
  }
}

@media (max-width: 767px) {
  .hero-section .hero-content {
    padding-top: 180px;
    padding-bottom: 100px;
  }
}

.hero-section .hero-content h1 {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 35px;
}

.hero-section .hero-content h1 span {
  color: #F5B458;
  display: inline;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-section .hero-content h1 {
    font-size: 50px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-section .hero-content h1 {
    font-size: 48px;
  }
}

@media (max-width: 767px) {
  .hero-section .hero-content h1 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .hero-section .hero-content h1 {
    font-size: 45px;
  }
}

.hero-section .hero-content p {
  margin-bottom: 35px;
}

.hero-section .hero-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 48%;
  z-index: -1;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .hero-section .hero-img {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-section .hero-img {
    width: 53%;
    top: -20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-section .hero-img {
    display: none;
  }
}

@media (max-width: 767px) {
  .hero-section .hero-img {
    display: none;
  }
}

.hero-section .hero-img img {
  width: 100%;
}

.hero-section .counter-up {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hero-section .counter-up .single-counter {
  display: flex;
  align-items: center;
  padding: 8px 38px;
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-section .counter-up .single-counter {
    padding: 8px 30px;
  }
}

@media (max-width: 767px) {
  .hero-section .counter-up .single-counter {
    padding: 8px 40px 8px 0;
  }
}

.hero-section .counter-up .single-counter::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 45px;
  top: 32px;
  background: #6B6F92;
  right: 0;
}

@media (max-width: 767px) {
  .hero-section .counter-up .single-counter::after {
    display: none;
  }
}

.hero-section .counter-up .single-counter:first-child {
  padding-left: 0;
}

.hero-section .counter-up .single-counter .icon {
  font-size: 60px;
  color: #313450;
  margin-right: 20px;
}

.hero-section .counter-up .single-counter .content h2 {
  font-size: 35px;
  font-weight: 700;
}

.hero-section .counter-up .single-counter .content h5 {
  color: #6B6F92;
  font-weight: 500;
}
