
.pricing-section .single-pricing {
  border-radius: 10px;
  background: #fff;
  margin-bottom: 30px;
  padding: 45px 0px;
  text-align: center;
  box-shadow: 0px 0px 64px rgba(181, 181, 181, 0.16);
}

.pricing-section .single-pricing .header {
  padding: 0 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(107, 111, 146, 0.1);
}

.pricing-section .single-pricing .package-name {
  margin-bottom: 25px;
  font-size: 35px;
  font-weight: 500;
}

.pricing-section .single-pricing span.price {
  font-size: 50px;
  font-weight: 600;
  color: #F5B458;
  margin-bottom: 15px;
}

.pricing-section .single-pricing span.price small {
  font-size: 22px;
}

.pricing-section .single-pricing ul {
  margin-bottom: 35px;
  padding: 0 30px;
}

.pricing-section .single-pricing ul li {
  line-height: 34px;
}

.pricing-section .single-pricing a.main-btn {
  padding: 12px 30px;
  margin-bottom: 20px;
}

.pricing-section .single-pricing a.link {
  font-style: italic;
  font-weight: 500;
  text-decoration: underline;
  display: block;
  color: #F5B458;
}

.pricing-section .single-pricing.color-1 .price {
  color: #E74C3C;
}

.pricing-section .single-pricing.color-1 a.main-btn {
  border-color: #E74C3C;
  color: #E74C3C;
}

.pricing-section .single-pricing.color-1 a.main-btn::after {
  background: rgba(231, 76, 60, 0.2);
}

.pricing-section .single-pricing.color-1 a.link {
  color: #E74C3C;
}

.pricing-section .single-pricing.color-3 .price {
  color: #3C6DDE;
}

.pricing-section .single-pricing.color-3 a.main-btn {
  border-color: #3C6DDE;
  color: #3C6DDE;
}

.pricing-section .single-pricing.color-3 a.main-btn::after {
  background: rgba(60, 109, 222, 0.2);
}

.pricing-section .single-pricing.color-3 a.link {
  color: #3C6DDE;
}
