
.service-section .service-content {
  margin-right: 70px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .service-section .service-content {
    margin-bottom: 50px;
    margin-right: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .service-section .service-content {
    margin-bottom: 50px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .service-section .service-content {
    margin-bottom: 50px;
    margin-right: 0;
  }
}

.service-section .single-service {
  text-align: center;
  margin-bottom: 30px;
  padding: 45px 30px;
  border-radius: 10px;
  background: #fff;
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .service-section .single-service {
    text-align: center;
    padding: 30px 20px;
  }
}

.service-section .single-service:hover {
  box-shadow: 0px 0px 54px #f2f4f9;
}

.service-section .single-service .icon {
  margin-bottom: 30px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-section .single-service .icon.color-1 {
  margin: 15px auto;
  background: #E74C3C;
}

.service-section .single-service .icon.color-2 {
  margin: 15px auto;
  background: #F5B458;
}

.service-section .single-service .icon.color-3 {
  margin: 15px auto;
  background: #3C6DDE;
}

.service-section .single-service .icon.color-4 {
  margin: 15px auto;
  background: #0DA755;
}

.service-section .single-service .content h4 {
  margin-bottom: 25px;
}

.service-section .single-service .content p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
}

.service-section .single-service .content a {
  color: #6B6F92;
}

.service-section .single-service .content a:hover {
  color: #F5B458;
}

.service-section .single-service .content a i {
  font-size: 10px;
}
