
.footer {
  background: #313450;
  padding-top: 100px;
}

.footer .widget-wrapper .footer-widget {
  margin-bottom: 45px;
}

.footer .widget-wrapper .footer-widget .logo {
  margin-bottom: 35px;
}

.footer .widget-wrapper .footer-widget .logo a {
  display: inline-block;
}

.footer .widget-wrapper .footer-widget p.desc {
  font-size: 16px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 45px;
  padding-right: 60px;
}

.footer .widget-wrapper .footer-widget .socials {
  display: flex;
  align-items: center;
}

.footer .widget-wrapper .footer-widget .socials li a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #6B6F92;
  color: #6B6F92;
  margin-right: 20px;
}

.footer .widget-wrapper .footer-widget .socials li a:hover {
  color: #fff;
  background: #F5B458;
  border-color: #F5B458;
}

.footer .widget-wrapper .footer-widget h3 {
  margin-bottom: 35px;
  color: #fff;
  margin-top: 10px;
}

.footer .widget-wrapper .footer-widget .links li a {
  font-size: 16px;
  line-height: 35px;
  color: rgba(255, 255, 255, 0.8);
}

.footer .widget-wrapper .footer-widget .links li a:hover {
  color: #F5B458;
}

.footer .widget-wrapper .footer-widget .info li {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
}

.footer .copy-right {
  padding: 30px 0;
  border-top: 2px solid rgba(107, 111, 146, 0.44);
}

.footer .copy-right p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-style: italic;
}

.footer .copy-right p a {
  color: rgba(255, 255, 255, 0.8);
}

.footer .copy-right p a:hover {
  color: #F5B458;
}
